.card{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  margin-bottom:10px;
}
.card-menu{
background: white !important;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}
.card-menu rect {
fill: none;
stroke: #352D7D;
stroke-width: 0;
stroke-dasharray: 422, 0;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}
.card-menu:hover {
/*background-color: #edf1f5;
font-weight: 900;
letter-spacing: 2px;*/
}
.card-menu:hover rect {
stroke-width: 8;
stroke-dasharray: 15, 310;
stroke-dashoffset: 48;
transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.card-menu svg {
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}
.col,.has-arrow:hover,.collapse li a:hover,.router-link-active {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}
.btn-menu {
  color:#352d7d;
  cursor:pointer;
  display:block;
  position:relative;
  text-decoration:none;
  background:;
  border-radius: 15px;
  text-align:center;
  transition-property:all;
  transition-duration:.6s;
  transition-timing-function:ease;
}
.btn-menu svg {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  transition-property:all;
  transition-duration:.6s;
  transition-timing-function:ease;
}

.btn-menu rect {
  fill:none;
  stroke:#333;
  stroke-width:0;
  stroke-dasharray:422,0;
  transition-property:all;
  transition-duration:.6s;
  transition-timing-function:ease;
}

.btn-menu:hover {
  background-color:transition;
  /*font-weight:900;
  letter-spacing:2px;*/
}

.btn-menu:hover rect {
  stroke-width:8;
  stroke-dasharray:65,310;
  stroke-dashoffset:48;
  transition:all 1s cubic-bezier(.19,1,.22,1);
}